{% extends 'layouts/app.html' %}
{% load humanize %}
{% block content %}

    <section class="section-box pt-50 background-body">
        <div class="container">
            <div class="row align-items-end">
                <div class="col-md-9 mb-30 wow fadeInUp">
                    <h4 class="title-svg neutral-1000 mb-15">Nannies</h4>
                    <p class="text-md-medium text-bold neutral-500">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae, amet?
                    </p>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}