{% extends 'layouts/app.html' %}

{% block content %}

    <section class="box-section background-body pt-80">
        <div class="container">
            <div class="text-center">
                <div class="background-body px-3 py-2 rounded-12 border d-flex gap-3 d-inline-flex">
                    <a href="{% url 'base:home' %}" class="neutral-700 text-md-medium">
                        {% if request.session.lang == 'en' %}
                            Home
                        {% else %}
                            Accueil
                        {% endif %}
                    </a>
                    <span>
                        <img src="https://carento-demo.vercel.app/assets/imgs/template/icons/arrow-right.svg" alt="Carento" />
                    </span>
                    <a href="#" class="neutral-1000 text-md-bold">
                        {% if request.session.lang == 'en' %}
                            Applicants
                        {% else %}
                            Candidats
                        {% endif %}
                    </a>
                </div>
                <h3 class="mt-3 neutral-1000">
                    {% if request.session.lang == 'en' %}
                        Applicants
                    {% else %}
                        Candidats
                    {% endif %}
                </h3>
            </div>
        </div>
    </section>

    <section class="box-section background-body pt-80 pb-110 dashboard">
        <div class="container">
            <div class="row">
                {% include 'inc/user-sidebar.html' %}

                <div class="col-xl-9 col-lg-8">
                    <div class="row">
                        <div class="col-xl-12 d-flex">
                            <div class="card shadow-none flex-fill">
                                <div class="card-header">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <span class="neutral-1000 text-md-bold fs-5">
                                            {% if request.session.lang == 'en' %}
                                                Applicants
                                            {% else %}
                                                Candidats
                                            {% endif %}
                                        </span>
                                        <div class="d-flex gap-2">
                                            <!-- Search Input -->
                                            <div class="input-icon-start position-relative">
                                                <span class="icon-addon">
                                                    <i class="fi fi-rr-search"></i>
                                                </span>
                                                <input type="text" class="input-small" placeholder="{% if request.session.lang == 'en' %}Search job title or location{% else %}Rechercher un titre de poste ou un lieu{% endif %}">
                                            </div>

                                            <!-- Status Filter Dropdown -->
                                            <div class="dropdown">
                                                <a href="javascript:void(0);" class="dropdown-toggle btn btn-sort bg-neutral-100 btn-sm neutral-500 rounded-pill fw-normal fs-8 d-inline-flex align-items-center" data-bs-toggle="dropdown">
                                                    <i class="fi fi-rr-steering-wheel me-2"></i> 
                                                    {% if request.session.lang == 'en' %}
                                                        Status
                                                    {% else %}
                                                        Statut
                                                    {% endif %}
                                                </a>
                                                <ul class="dropdown-menu small dropdown-menu-end p-2">
                                                    <li><a href="?status=open" class="dropdown-item rounded-1"><i class="ti ti-point-filled me-1"></i> {% if request.session.lang == 'en' %} Open {% else %} Ouvert {% endif %}</a></li>
                                                    <li><a href="?status=closed" class="dropdown-item rounded-1"><i class="ti ti-point-filled me-1"></i> {% if request.session.lang == 'en' %} Closed {% else %} Fermé {% endif %}</a></li>
                                                    <li><a href="?status=pending" class="dropdown-item rounded-1"><i class="ti ti-point-filled me-1"></i> {% if request.session.lang == 'en' %} Pending {% else %} En attente {% endif %}</a></li>
                                                    <li><a href="?status=in_progress" class="dropdown-item rounded-1"><i class="ti ti-point-filled me-1"></i> {% if request.session.lang == 'en' %} In Progress {% else %} En cours {% endif %}</a></li>
                                                </ul>
                                            </div>

                                            <!-- Sort Filter Dropdown -->
                                            <div class="dropdown">
                                                <a href="javascript:void(0);" class="dropdown-toggle btn btn-sort bg-neutral-100 btn-sm neutral-500 rounded-pill fw-normal fs-8 d-inline-flex align-items-center" data-bs-toggle="dropdown">
                                                    <i class="fi fi-rr-filter-list me-2"></i> 
                                                    {% if request.session.lang == 'en' %}
                                                        Sort
                                                    {% else %}
                                                        Trier
                                                    {% endif %}
                                                </a>
                                                <ul class="dropdown-menu small dropdown-menu-end p-2">
                                                    <li><a href="?sort=newest" class="dropdown-item rounded-1"><i class="ti ti-point-filled me-1"></i> {% if request.session.lang == 'en' %} Newest {% else %} Le plus récent {% endif %}</a></li>
                                                    <li><a href="?sort=oldest" class="dropdown-item rounded-1"><i class="ti ti-point-filled me-1"></i> {% if request.session.lang == 'en' %} Oldest {% else %} Le plus ancien {% endif %}</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-body">
                                    <div class="card shadow-none mb-2">
                                        <div class="table-responsive">
                                            <table class="table datatable table-striped">
                                                <thead class="thead-light">
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>
                                                            {% if request.session.lang == 'en' %}
                                                                Job Title & Salary
                                                            {% else %}
                                                                Titre du poste & Salaire
                                                            {% endif %}
                                                        </th>
                                                        <th>
                                                            {% if request.session.lang == 'en' %}
                                                                Nanny
                                                            {% else %}
                                                                Nounou
                                                            {% endif %}
                                                        </th>
                                                        <th>
                                                            {% if request.session.lang == 'en' %}
                                                                Availability
                                                            {% else %}
                                                                Disponibilité
                                                            {% endif %}
                                                        </th>
                                                        <th>
                                                            {% if request.session.lang == 'en' %}
                                                                Status
                                                            {% else %}
                                                                Statut
                                                            {% endif %}
                                                        </th>
                                                        <th>
                                                            {% if request.session.lang == 'en' %}
                                                                Actions
                                                            {% else %}
                                                                Actions
                                                            {% endif %}
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for applicant in job_applicants %}
                                                        <tr>
                                                            <td><a href="javascript:void(0);" class="text-primary-dark fw-medium">#{{ applicant.id }}</a></td>
                                                            <td>
                                                                <p class="text-dark mb-0 fw-medium fs-14">
                                                                    <a href="#">{{ applicant.job.title }}</a>
                                                                </p>
                                                                <span class="fw-bold neutral-500" style="font-size: 12px;">{{ applicant.job.salary }} RWF</span>
                                                            </td>
                                                            <td>
                                                                <p class="text-dark mb-0 fw-medium fs-14">
                                                                    <a href="#">{{ applicant.nanny.name }}</a>
                                                                </p>
                                                                <span class="fw-bold neutral-500" style="font-size: 12px;">{{ applicant.nanny.phone_number }}</span>
                                                            </td>
                                                            <td>{{ applicant.availability|date:"F j, Y" }}</td>
                                                            <td>
                                                                <span class="badge badge-{{ applicant.status }} rounded-pill d-inline-flex align-items-center fs-10">
                                                                    <i class="fi fi-rr-{{ applicant.status|lower }} me-1"></i>
                                                                    {{ applicant.status|title }}
                                                                </span>
                                                            </td>
                                                            <td>
                                                                <a href="{% url 'base:getJobApplicantDetails' applicant.id %}" class="px-2">
                                                                    <i class="fi fi-rr-bullseye-pointer"></i> 
                                                                    {% if request.session.lang == 'en' %}
                                                                        View
                                                                    {% else %}
                                                                        Voir
                                                                    {% endif %}
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    {% empty %}
                                                        <tr>
                                                            <td colspan="6" class="text-center">
                                                                {% if request.session.lang == 'en' %}
                                                                    No applicants found!
                                                                {% else %}
                                                                    Aucun candidat trouvé !
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}
