{% extends 'layouts/app.html' %}
{% load static %}
{% block content %}

<div class="page-header pt-30 background-body">
    <div class="custom-container position-relative mx-auto">
        <div class="bg-overlay rounded-12 overflow-hidden">
            <img class="w-100 h-100 img-banner" src="{% static 'img/img-3.jpg' %}" alt="Kigali Nanny Agency"/>
        </div>
        <div class="container position-absolute z-1 top-50 start-50 translate-middle">
            <h2 class="text-white">
                {% if request.session.lang == 'en' %}
                    About Us
                {% else %}
                    À propos de nous
                {% endif %}
            </h2>
            <span class="text-white text-xl-medium">
                {% if request.session.lang == 'en' %}
                    Learn more about our mission and services
                {% else %}
                    Découvrez notre mission et nos services
                {% endif %}
            </span>
        </div>
        <div class="background-body position-absolute z-1 top-100 start-50 translate-middle px-3 py-2 rounded-12 border d-flex gap-3 @@navigation-page">
            <a href="{% url 'base:home' %}" class="neutral-700 text-md-medium">
                {% if request.session.lang == 'en' %}
                    Home
                {% else %}
                    Accueil
                {% endif %}
            </a>
            <span>
                <img src="{% static 'img/icons/arrow-right.svg' %}" alt="Kigali Nanny Agency"/>
            </span>
            <a href="#" class="neutral-1000 text-md-bold">
                {% if request.session.lang == 'en' %}
                    About Us
                {% else %}
                    À propos de nous
                {% endif %}
            </a>
        </div>
    </div>
</div>

<section class="section-1 py-96 background-body">
    <div class="container">
        <div class="row pb-50">
            <div class="col-lg-4">
                <h3 class="neutral-1000">
                    {% if request.session.lang == 'en' %}
                        The Future of <br/>
                        <span class="text-primary">Childcare</span>
                        Starts Here
                    {% else %}
                        L'avenir de <br/>
                        <span class="text-primary">la garde d'enfants</span>
                        commence ici
                    {% endif %}
                </h3>
            </div>
            <div class="col-lg-7 offset-lg-1">
                <p class="text-lg-medium neutral-500">
                    {% if request.session.lang == 'en' %}
                        Welcome to Kigali Nanny Agency, your trusted solution for childcare services. Since our inception, we have focused on providing families with professionally trained, reliable, and caring nannies.
                    {% else %}
                        Bienvenue chez Kigali Nanny Agency, votre solution de confiance pour les services de garde d'enfants. Depuis notre création, nous nous concentrons sur la fourniture aux familles de nounous professionnelles, fiables et attentionnées.
                    {% endif %}
                </p>
            </div>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6">
                <div class="box-image rounded-12 position-relative overflow-hidden">
                    <img class="rounded-12" src="{% static 'img/img-6.jpg' %}" alt="Kigali Nanny Agency"/>
                    <div class="box-tag bg-white p-3 d-flex position-absolute bottom-0 end-0 rounded-12 m-3">
                        <span class="text-dark fs-72 me-3">86</span>
                        <h6>
                            {% if request.session.lang == 'en' %}
                                Trained <br/>Professionals
                            {% else %}
                                Professionnels <br/>formés
                            {% endif %}
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-cta-7 background-body py-96">
    <div class="box-cta-6">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <a class="btn btn-signin bg-2 text-dark mb-4" href="#">
                        {% if request.session.lang == 'en' %}
                            Our Mission
                        {% else %}
                            Notre mission
                        {% endif %}
                    </a>
                    <h4 class="mb-4 neutral-1000">
                        {% if request.session.lang == 'en' %}
                            Providing Quality Care. <br/>Get started today.
                        {% else %}
                            Fournir des soins de qualité. <br/>Commencez dès aujourd'hui.
                        {% endif %}
                    </h4>
                    <p class="text-lg-medium neutral-500 mb-4">
                        {% if request.session.lang == 'en' %}
                            Our mission is to ensure that families in Kigali have access to the best nannies.
                        {% else %}
                            Notre mission est de garantir que les familles à Kigali aient accès aux meilleures nounous.
                        {% endif %}
                    </p>
                    <ul class="list-ticks-green list-ticks-green-2">
                        <li class="neutral-1000 pe-0">
                            {% if request.session.lang == 'en' %}
                                Tailored services to fit every family's unique needs
                            {% else %}
                                Services adaptés aux besoins uniques de chaque famille
                            {% endif %}
                        </li>
                        <li class="neutral-1000 pe-0">
                            {% if request.session.lang == 'en' %}
                                Comprehensive background checks and training
                            {% else %}
                                Vérifications approfondies des antécédents et formations
                            {% endif %}
                        </li>
                        <li class="neutral-1000 pe-0">
                            {% if request.session.lang == 'en' %}
                                24/7 support to answer your questions and concerns
                            {% else %}
                                Assistance 24/7 pour répondre à vos questions et préoccupations
                            {% endif %}
                        </li>
                    </ul>
                    <a class="btn btn-primary mt-2" href="#">
                        {% if request.session.lang == 'en' %}
                            Get Started Now
                        {% else %}
                            Commencez maintenant
                        {% endif %}
                    </a>
                </div>
                <div class="col-lg-6 offset-lg-1 position-relative z-1 mt-lg-0 mt-4">
                    <div class="d-flex flex-column gap-4">
                        <div class="d-flex gap-4">
                            <div class="mt-auto">
                                <img class="bdrd8 w-100" src="{% static 'img/img-2.jpg' %}" alt="Kigali Nanny Agency"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
