{% extends 'layouts/app.html' %}
{% load static %}
{% block content %}

<section class="box-section block-banner-home1 position-relative">
    <div class="container position-relative z-1">
        <p class="text-primary text-md-bold wow fadeInUp">
            {% if request.session.lang == 'en' %}
                Hire a Trusted Nanny
            {% else %}
                Engagez une nounou de confiance
            {% endif %}
        </p>
        <h1 class="color-white mb-35 wow fadeInUp">
            {% if request.session.lang == 'en' %}
                Need a reliable nanny? <br class="d-none d-lg-block"/>Kigali Nanny Agency is your solution.
            {% else %}
                Besoin d'une nounou fiable ? <br class="d-none d-lg-block"/>Kigali Nanny Agency est votre solution.
            {% endif %}
        </h1>
        <ul class="list-ticks-green">
            <li class="wow fadeInUp" data-wow-delay="0.1s">
                {% if request.session.lang == 'en' %}
                    Caring service at an affordable rate.
                {% else %}
                    Service attentionné à un tarif abordable.
                {% endif %}
            </li>
            <li class="wow fadeInUp" data-wow-delay="0.2s">
                {% if request.session.lang == 'en' %}
                    Professionally vetted nannies.
                {% else %}
                    Nounous soigneusement sélectionnées.
                {% endif %}
            </li>
            <li class="wow fadeInUp" data-wow-delay="0.4s">
                {% if request.session.lang == 'en' %}
                    Support available whenever you need it.
                {% else %}
                    Assistance disponible à tout moment.
                {% endif %}
            </li>
        </ul>
    </div>
    <div class="bg-shape z-0"></div>
</section>

<section class="box-cta-1 background-100 py-96">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 pe-lg-5 wow fadeInUp">
                <div class="card-video">
                    <div class="card-image">
                        <a class="btn btn-play popup-youtube" href="#"></a>
                        <img src="{% static 'img/img-6.jpg' %}" alt="Kigali Nanny Agency"/>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-lg-0 mt-4">
                <span class="btn btn-signin bg-white text-dark mb-4 wow fadeInUp">
                    {% if request.session.lang == 'en' %}
                        Your Trusted Nanny Service
                    {% else %}
                        Votre service de nounou de confiance
                    {% endif %}
                </span>
                <h4 class="mb-4 neutral-1000 wow fadeInUp">
                    {% if request.session.lang == 'en' %}
                        Get Peace of Mind—Hire a Nanny Today
                    {% else %}
                        Tranquillité d'esprit—Engagez une nounou aujourd'hui
                    {% endif %}
                </h4>
                <p class="text-lg-medium neutral-500 mb-4 wow fadeInUp">
                    {% if request.session.lang == 'en' %}
                        We focus on providing professional, caring, and reliable services tailored to your family’s needs.
                    {% else %}
                        Nous nous concentrons sur la fourniture de services professionnels, attentionnés et fiables adaptés aux besoins de votre famille.
                    {% endif %}
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-ticks-green">
                            <li class="neutral-1000 wow fadeInUp" data-wow-delay="0.1s">
                                {% if request.session.lang == 'en' %}
                                    Trained and Vetted Professionals
                                {% else %}
                                    Professionnels formés et vérifiés
                                {% endif %}
                            </li>
                            <li class="neutral-1000 wow fadeInUp" data-wow-delay="0.2s">
                                {% if request.session.lang == 'en' %}
                                    Affordable Payment Plans
                                {% else %}
                                    Plans de paiement abordables
                                {% endif %}
                            </li>
                            <li class="neutral-1000 wow fadeInUp" data-wow-delay="0.3s">
                                {% if request.session.lang == 'en' %}
                                    Personalized Care Options
                                {% else %}
                                    Options de soins personnalisés
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-ticks-green wow fadeInUp">
                            <li class="neutral-1000 wow fadeInUp" data-wow-delay="0.1s">
                                {% if request.session.lang == 'en' %}
                                    24/7 Support Available
                                {% else %}
                                    Assistance disponible 24/7
                                {% endif %}
                            </li>
                            <li class="neutral-1000 wow fadeInUp" data-wow-delay="0.2s">
                                {% if request.session.lang == 'en' %}
                                    Emergency Services Offered
                                {% else %}
                                    Services d'urgence disponibles
                                {% endif %}
                            </li>
                            <li class="neutral-1000 wow fadeInUp" data-wow-delay="0.3s">
                                {% if request.session.lang == 'en' %}
                                    On-Demand Replacements
                                {% else %}
                                    Remplacements à la demande
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 

<section class="section-team-1 py-96 background-body">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-xl-6 col-lg-7 col-md-9 col-sm-11">
                <div class="text-center mb-5">
                    <span class="text-xl-medium neutral-500">
                        {% if request.session.lang == 'en' %}
                            Awesome Teams
                        {% else %}
                            Équipes formidables
                        {% endif %}
                    </span>
                    <h3 class="section-title neutral-1000">
                        {% if request.session.lang == 'en' %}
                            Meet Our Leaders
                        {% else %}
                            Rencontrez nos dirigeants
                        {% endif %}
                    </h3>
                </div>
            </div>
        </div>
        <div class="row mt-50">
            {% for member in team %}
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="card-news background-card hover-up shadow-2 mb-50">
                        <div class="card-image">
                            <a href="#">
                                <img src="{{ member.image.url }}" alt="KGA"/>
                            </a>
                        </div>
                        <div class="card-info p-4">
                            <div class="card-title">
                                <a class="text-xl-bold neutral-1000" href="#">
                                    <h6>{{ member.name }}</h6>
                                </a>
                                <span class="text-sm-medium neutral-500">
                                    {{ member.position }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock content %}
