{% extends 'layouts/app.html' %}
{% load static %}
{% block content %}

<div class="page-header pt-30 background-body">
    <div class="custom-container position-relative mx-auto">
        <div class="bg-overlay rounded-12 overflow-hidden">
            <img class="w-100 h-100 img-banner" src="{% static 'img/breadcrumbs/our-team.jpg' %}" alt="Kigali Nanny Agency"/>
        </div>
        <div class="container position-absolute z-1 top-50 start-50 translate-middle">
            <h2 class="text-white">About Us</h2>
            <span class="text-white text-xl-medium">Learn more about our services and values</span>
        </div>
        <div class="background-body position-absolute z-1 top-100 start-50 translate-middle px-3 py-2 rounded-12 border d-flex gap-3 @@navigation-page">
            <a href="index.html" class="neutral-700 text-md-medium">Home</a>
            <span>
                <img src="{% static 'img/icons/arrow-right.svg' %}" alt="Kigali Nanny Agency"/>
            </span>
            <a href="#" class="neutral-1000 text-md-bold">Services</a>
        </div>
    </div>
</div>
<section class="section-box background-body py-96">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-7">
                <h3 class="neutral-1000">Comprehensive <span class="text-primary">Nanny Services</span> Tailored to Your Family's Needs</h3>
            </div>
            <div class="col-lg-5">
                <p class="text-lg-medium neutral-500">Whether you need full-time, part-time, or emergency care, we offer a range of childcare services designed to meet your family’s needs and lifestyle.</p>
            </div>
        </div>
        <div class="row mt-50">
            <div class="col-lg-4 col-md-6">
                <div class="card-news background-card hover-up mb-24">
                    <div class="card-image">
                        <img src="{% static 'img/story/img-6.jpg' %}" alt="Kigali Nanny Agency" />
                    </div>
                    <div class="card-info">
                        <div class="card-title mb-3">
                            <a class="text-xl-bold neutral-1000" href="blog-details.html">Full-Time Nanny Services</a>
                            <p class="text-md-medium neutral-500 mt-2">Get dedicated, long-term care with full-time nannies who provide ongoing support for your children’s development and well-being.</p>
                        </div>
                        <div class="card-program">
                            <div class="endtime">
                                <div class="card-button"><a class="btn btn-primary2" href="blog-details.html">View Details</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card-news background-card hover-up mb-24">
                    <div class="card-image">
                        <img src="{% static 'img/story/img-7.jpg' %}" alt="Kigali Nanny Agency" />
                    </div>
                    <div class="card-info">
                        <div class="card-title mb-3">
                            <a class="text-xl-bold neutral-1000" href="blog-details.html">Part-Time and Temporary Services</a>
                            <p class="text-md-medium neutral-500 mt-2">Flexible childcare options for busy parents who need part-time support or temporary care for special occasions.</p>
                        </div>
                        <div class="card-program">
                            <div class="endtime">
                                <div class="card-button"><a class="btn btn-primary2" href="blog-details.html">View Details</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card-news background-card hover-up mb-24">
                    <div class="card-image">
                        <img src="{% static 'img/story/img-8.jpg' %}" alt="Kigali Nanny Agency" />
                    </div>
                    <div class="card-info">
                        <div class="card-title mb-3">
                            <a class="text-xl-bold neutral-1000" href="blog-details.html">Emergency Nanny Services</a>
                            <p class="text-md-medium neutral-500 mt-2">Reliable last-minute care for families facing unexpected childcare needs, ensuring peace of mind when you need it most.</p>
                        </div>
                        <div class="card-program">
                            <div class="endtime">
                                <div class="card-button"><a class="btn btn-primary2" href="blog-details.html">View Details</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<section class="section-cta-7 background-body py-4">
    <div class="box-cta-6">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="box-swiper">
                        <div class="swiper-container swiper-group-1">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img class="rounded-12" src="{% static 'img/story/img-5.jpg' %}" alt="Kigali Nanny Agency" />
                                </div>
                                <div class="swiper-slide">
                                    <img class="rounded-12" src="{% static 'img/story/img-5.jpg' %}" alt="Kigali Nanny Agency" />
                                </div>
                            </div>
                            <div class="position-absolute end-0 bottom-0 p-40">
                                <div class="box-button-slider box-button-slider-team justify-content-end">
                                    <div class="swiper-button-prev swiper-button-prev-style-1 swiper-button-prev-2" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-9c1b729b91027a37b">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                            <path d="M7.99992 3.33325L3.33325 7.99992M3.33325 7.99992L7.99992 12.6666M3.33325 7.99992H12.6666" stroke="" stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                    </div>
                                    <div class="swiper-button-next swiper-button-next-style-1 swiper-button-next-2" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-9c1b729b91027a37b">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                            <path d="M7.99992 12.6666L12.6666 7.99992L7.99992 3.33325M12.6666 7.99992L3.33325 7.99992" stroke="" stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 ps-lg-5 mt-lg-0 mt-4">
                    <h4 class="mb-4 neutral-1000">Plan Your Childcare with Us</h4>
                    <p class="text-lg-medium neutral-500 mb-4">Let us help you find the perfect nanny to provide safe, nurturing, and reliable care for your family.</p>
                    <div class="row">
                        <div class="col">
                            <ul class="list-ticks-green list-ticks-green-2">
                                <li class="neutral-1000 pe-0">Detailed nanny profiles with experience and skills</li>
                                <li class="neutral-1000 pe-0">Filter options based on availability and care type</li>
                                <li class="neutral-1000 pe-0">Real-time updates on nanny availability</li>
                            </ul>
                        </div>
                    </div>
                    <a class="btn btn-primary mt-2" href="#">
                        Get Started Now
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 15L15 8L8 1M15 8L1 8" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="bg-overlay position-absolute bottom-0 end-0 h-75 background-brand-2 opacity-25 z-0 rounded-start-pill"></div>
    </div>
</section>


{% endblock content %}