{% load static %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
    <head>
        <title> Comme chez Soi Burundi</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <meta name="msapplication-TileColor" content="#FEFEFE"/>
        <meta name="template-color" content="#FEFEFE"/>
        <meta name="description" content=" Comme chez Soi Burundi - Developed by NEXCODE"/>
        <meta name="keywords" content=" Comme chez Soi Burundi"/>
        <meta name="author" content=""/>
        <link rel="shortcut icon" type="image/x-icon" href="img/logo/logo-gray.png"/>
        <link href="{% static 'css/main.css' %}" rel="stylesheet"/>

        <!-- Toastr CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet"/>

    </head>
    <body>

        {% include 'inc/header.html' %}

        <main class="main">
            {% block content %}{% endblock %}
        </main>

        {% include 'inc/footer.html' %}

        <script src="{% static 'js/vendor/jquery-3.7.1.min.js' %}"></script>
        <script src="{% static 'js/vendor/jquery-migrate-3.3.0.min.js' %}"></script>
        <script src="{% static 'js/vendor/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/plugins/magnific-popup.js' %}"></script>
        <script src="{% static 'js/plugins/perfect-scrollbar.min.js' %}"></script>
        <script src="{% static 'js/plugins/swiper-bundle.min.js' %}"></script>
        <script src="{% static 'js/plugins/slick.js' %}"></script>
        <script src="{% static 'js/plugins/jquery.carouselTicker.js' %}"></script>
        <script src="{% static 'js/plugins/masonry.min.js' %}"></script>
        <script src="{% static 'js/plugins/scrollup.js' %}"></script>
        <script src="{% static 'js/plugins/wow.js' %}"></script>
        <script src="{% static 'js/plugins/waypoints.js' %}"></script>
        <script src="{% static 'js/plugins/jquery.appear.js' %}"></script>
        <script src="{% static 'js/plugins/jquery.odometer.min.js' %}"></script>
        <script src="{% static 'js/plugins/bootstrap-datepicker.js' %}"></script>
        <script src="{% static 'js/plugins/dark.js' %}"></script>
        <script src="{% static 'js/vendor/jquery.countdown.min.js' %}"></script>
        <script src="{% static 'js/plugins/noUISlider.js' %}"></script>
        <script src="{% static 'js/plugins/slider.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>

        <!-- Toastr JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

        <!-- Toastr Notification Script -->
        <script>
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'success' %}
                        toastr.success("{{ message }}");
                    {% elif message.tags == 'error' %}
                        toastr.error("{{ message }}");
                    {% elif message.tags == 'warning' %}
                        toastr.warning("{{ message }}");
                    {% elif message.tags == 'info' %}
                        toastr.info("{{ message }}");
                    {% endif %}
                {% endfor %}
            {% endif %}
        </script>

    </body>
</html>
