{% extends 'layouts/app.html' %}
{% load humanize %}
{% block content %}

    <section class="section-box pt-50 background-body">
        <div class="container">
            <div class="row align-items-end">
                <div class="col-md-9 mb-30 wow fadeInUp">
                    <h4 class="title-svg neutral-1000 mb-15">
                        {% if request.session.lang == 'en' %} Latest Jobs {% else %} Offres d'emploi Récentes {% endif %}
                    </h4>
                    <p class="text-md-medium text-bold neutral-500">
                        {% if request.session.lang == 'en' %}
                            Find the latest job opportunities that match your skills.
                        {% else %}
                            Trouvez les dernières opportunités d'emploi correspondant à vos compétences.
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="box-section block-content-tourlist background-body">
        <div class="container">
            <div class="box-content-main pt-20">
                <div class="content-right">
                    <div class="box-filters mb-25 pb-5 border-bottom border-1">
                        <div class="row align-items-center">
                            <div class="col-xl-4 col-md-4 mb-10 text-lg-start text-center">
                                <div class="box-view-type">
                                    <span class="text-sm-bold neutral-500 number-found">
                                        {{ jobs_count }} 
                                        {% if request.session.lang == 'en' %} jobs found {% else %} emplois trouvés {% endif %}
                                    </span>
                                </div>
                            </div>
                            <div class="col-xl-8 col-md-8 mb-10 text-lg-end text-center">
                                <div class="box-item-sort">
                                    <form method="get" class="d-flex">
                                        <div class="item-sort border-1 me-3">
                                            <select name="limit" class="form-select" style="border: none;">
                                                <option value="12" {% if filter_params.limit == "12" %}selected{% endif %}>
                                                    {% if request.session.lang == 'en' %} Show: 12 {% else %} Afficher : 12 {% endif %}
                                                </option>
                                                <option value="30" {% if filter_params.limit == "30" %}selected{% endif %}>
                                                    {% if request.session.lang == 'en' %} Show: 30 {% else %} Afficher : 30 {% endif %}
                                                </option>
                                                <option value="50" {% if filter_params.limit == "50" %}selected{% endif %}>
                                                    {% if request.session.lang == 'en' %} Show: 50 {% else %} Afficher : 50 {% endif %}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="item-sort border-1">
                                            <select name="sort" class="form-select" style="border: none;">
                                                <option value="newest" {% if filter_params.sort == "newest" %}selected{% endif %}>
                                                    {% if request.session.lang == 'en' %} Sort by (Newest) {% else %} Trier par (Plus récent) {% endif %}
                                                </option>
                                                <option value="oldest" {% if filter_params.sort == "oldest" %}selected{% endif %}>
                                                    {% if request.session.lang == 'en' %} Oldest {% else %} Plus ancien {% endif %}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="card-button ms-2">
                                            <button type="submit" class="btn btn-gray" style="background: #70f46d;">
                                                {% if request.session.lang == 'en' %} Filter {% else %} Filtrer {% endif %}
                                            </button>
                                        </div>
                                        <div class="card-button">
                                            <a class="btn btn-gray" href="{% url 'base:getJobs' %}">
                                                {% if request.session.lang == 'en' %} Reset {% else %} Réinitialiser {% endif %}
                                            </a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-grid-tours wow fadeIn">
                        <div class="row">
                            {% for job in jobs %}
                                <div class="col-lg-4 col-md-6">
                                    <div class="card-journey-small background-card hover-up">
                                        <div class="pb-25"></div>
                                        <div class="card-info p-3 pt-30 border-top">
                                            <div class="card-title">
                                                <a class="text-lg-bold neutral-1000" href="{% url 'base:showJobDetails' job.slug %}">
                                                    {{ job.title|truncatechars:20 }}
                                                </a>
                                            </div>
                                            <div class="card-program">
                                                <ul class="list-style-disc ps-3 pe-4">
                                                    <li class="text-xs-medium neutral-1000">
                                                        {% if request.session.lang == 'en' %} Location {% else %} Lieu {% endif %} : <strong>{{ job.location }}</strong>
                                                    </li>
                                                    <li class="text-xs-medium neutral-1000">
                                                        {% if request.session.lang == 'en' %} Time {% else %} Temps {% endif %} : 
                                                        <strong>{{ job.start_date|date }} - {{ job.end_date|date }}</strong>
                                                    </li>
                                                    <li class="text-xs-medium neutral-1000">
                                                        {% if request.session.lang == 'en' %} Contact Number {% else %} Numéro de Contact {% endif %} : 
                                                        <strong>{{ job.client.phone_number }}</strong>
                                                    </li>
                                                    <li class="text-xs-medium neutral-1000">
                                                        {% if request.session.lang == 'en' %} Category {% else %} Catégorie {% endif %} : 
                                                        <strong>{{ job.get_category_display }}</strong>
                                                    </li>
                                                </ul>
                                                <div class="endtime pt-3 mt-3 border-top">
                                                    <a href="#" class="card-button pe-3">
                                                        {% if job.status == 'open' %}
                                                            <span class="badge badge-success rounded-pill d-inline-flex align-items-center fs-10">
                                                                <i class="fi fi-rr-check-circle me-1"></i> 
                                                                {% if request.session.lang == 'en' %} Open {% else %} Ouvert {% endif %}
                                                            </span>
                                                        {% elif job.status == 'closed' %}
                                                            <span class="badge badge-danger rounded-pill d-inline-flex align-items-center fs-10">
                                                                <i class="fi fi-rr-door-closed me-1"></i> 
                                                                {% if request.session.lang == 'en' %} Closed {% else %} Fermé {% endif %}
                                                            </span>
                                                        {% elif job.status == 'pending' %}
                                                            <span class="badge badge-warning rounded-pill d-inline-flex align-items-center fs-10">
                                                                <i class="fi fi-rr-hourglass me-1"></i> 
                                                                {% if request.session.lang == 'en' %} Pending {% else %} En attente {% endif %}
                                                            </span>
                                                        {% endif %}
                                                    </a>
                                                </div>
                                                <div class="endtime">
                                                    <div class="card-price">
                                                        <a href="{% url 'base:showJobDetails' job.slug %}" class="text-lg-bold neutral-1000" style="font-size: 16px;">
                                                            {{ job.salary|intcomma }} RWF / 
                                                            <span style="font-size: 12px;">
                                                                {% if request.session.lang == 'en' %} per day {% else %} par jour {% endif %}
                                                            </span>
                                                        </a>
                                                    </div>
                                                    <div class="card-button">
                                                        <a class="btn btn-gray" href="{% url 'base:showJobDetails' job.slug %}">
                                                            {% if request.session.lang == 'en' %} Apply {% else %} Postuler {% endif %}
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% include 'inc/job-sidebar.html' %}
            </div>
        </div>
    </section>

{% endblock content %}
