{% extends 'layouts/app.html' %}
{% load humanize %}
{% block content %}

    <section class="section-box pt-50 background-body">
        <div class="container">
            <div class="row align-items-end">
                <div class="col-md-9 mb-30 wow fadeInUp">
                    <h4 class="title-svg neutral-1000 mb-15">Latest Jobs</h4>
                    <p class="text-md-medium text-bold neutral-500">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae, amet?
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="box-section block-content-tourlist background-body">
        <div class="container">
            <div class="box-content-main pt-20">
                <div class="content-right">
                    <div class="box-filters mb-25 pb-5 border-bottom border-1">
                        <div class="row align-items-center">
                            <div class="col-xl-4 col-md-4 mb-10 text-lg-start text-center">
                                <div class="box-view-type">
                                    <span class="text-sm-bold neutral-500 number-found">64 items found</span>
                                </div>
                            </div>
                            <div class="col-xl-8 col-md-8 mb-10 text-lg-end text-center">
                                <div class="box-item-sort">
                                    <a class="btn btn-sort" href="#">
                                        <svg width="18" height="18" viewbox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M8.25 6L5.25 3M5.25 3L2.25 6M5.25 3L5.25 15" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                            <path d="M9.75 12L12.75 15M12.75 15L15.75 12M12.75 15L12.75 3" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                    </a>
                                    <div class="item-sort border-1">
                                        <span class="text-xs-medium neutral-500 mr-5">Show</span>
                                        <div class="dropdown dropdown-sort border-1-right">
                                            <button class="btn dropdown-toggle" id="dropdownSort2" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static">
                                                <span>20</span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="dropdownSort2">
                                                <li>
                                                    <a class="dropdown-item active" href="#">20</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="#">30</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="#">50</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="item-sort border-1">
                                        <span class="text-xs-medium neutral-500 mr-5">Sort by:</span>
                                        <div class="dropdown dropdown-sort border-1-right">
                                            <button class="btn dropdown-toggle" id="dropdownSort" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <span>Most Viewed</span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-light m-0" aria-labelledby="dropdownSort">
                                                <li>
                                                    <a class="dropdown-item active" href="#">Most Viewed</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="#">Recently search</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="#">Most popular</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="#">Top rated</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-grid-tours wow fadeIn">
                        <div class="row">
                            {% for job in jobs %}
                                <div class="col-lg-4 col-md-6">
                                    <div class="card-journey-small background-card hover-up">
                                        <div class="card-image">
                                            <a class="wish" href="#">
                                                <svg width="20" height="18" viewbox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M17.071 10.1422L11.4141 15.7991C10.6331 16.5801 9.36672 16.5801 8.58568 15.7991L2.92882 10.1422C0.9762 8.1896 0.9762 5.02378 2.92882 3.07116C4.88144 1.11853 8.04727 1.11853 9.99989 3.07116C11.9525 1.11853 15.1183 1.11853 17.071 3.07116C19.0236 5.02378 19.0236 8.1896 17.071 10.1422Z" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                </svg>
                                            </a>
                                            <div class="pb-25"></div>
                                        </div>
                                        <div class="card-info p-3 pt-30 border-top">
                                            <div class="card-rating">
                                                <div class="card-left"></div>
                                                <div class="card-right">
                                                    <span class="rating text-xs-medium rounded-pill">
                                                        4.9 5 <span class="text-xs-medium neutral-500">(672 reviews)</span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="card-title">
                                                <a class="text-lg-bold neutral-1000" href="{% url 'base:showJobDetails' job.slug %}">
                                                    {{ job.title|truncatechars:10 }}
                                                </a>
                                            </div>
                                            <div class="card-program">
                                                <ul class="list-style-disc ps-3 pe-4">
                                                    <li class="text-xs-medium neutral-1000">
                                                        Location: <strong>{{ job.start_date|date }} - {{ job.end_date|date }}</strong>
                                                    </li>
                                                    <li class="text-xs-medium neutral-1000">
                                                        Contact Number: <strong>{{ job.client.phone_number }}</strong>
                                                    </li>
                                                    <li class="text-xs-medium neutral-1000">
                                                        Category: <strong>{{ job.get_category_display }}</strong>
                                                    </li>
                                                </ul>
                                                <div class="endtime pt-3 mt-3 border-top">
                                                    <div class="card-price">
                                                        <h6 class="text-md-medium neutral-500 text-decoration-line-through">
                                                            
                                                        </h6>
                                                    </div>
                                                    <a href="#" class="card-button pe-3">
                                                        {% if job.status == 'open' %}
                                                            <span class="badge badge-success rounded-pill d-inline-flex align-items-center fs-10">
                                                                <i class="fi fi-rr-check-circle me-1"></i> Open
                                                            </span>
                                                        {% elif job.status == 'closed' %}
                                                            <span class="badge badge-danger rounded-pill d-inline-flex align-items-center fs-10">
                                                                <i class="fi fi-rr-door-closed me-1"></i> Closed
                                                            </span>
                                                        {% elif job.status == 'pending' %}
                                                            <span class="badge badge-warning rounded-pill d-inline-flex align-items-center fs-10">
                                                                <i class="fi fi-rr-hourglass me-1"></i> Pending
                                                            </span>
                                                        {% elif job.status == 'in_progress' %}
                                                            <span class="badge badge-info rounded-pill d-inline-flex align-items-center fs-10">
                                                                <i class="fi fi-rr-caret-right me-1"></i> In Progress
                                                            </span>
                                                        {% endif %}
                                                    </a>
                                                </div>
                                                <div class="endtime">
                                                    <div class="card-price">
                                                        <h6 class="text-lg-bold neutral-1000" style="font-size: 16px;">
                                                            {{ job.salary|intcomma }} RWF / <span style="font-size: 12px;">per day</span>
                                                        </h6>
                                                    </div>
                                                    <div class="card-button">
                                                        <a class="btn btn-gray" href="#">
                                                            Apply
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">
                                        <svg width="12" height="12" viewbox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M6.00016 1.33325L1.3335 5.99992M1.3335 5.99992L6.00016 10.6666M1.3335 5.99992H10.6668" stroke="" stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                    </span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">1</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link active" href="#">2</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">3</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">4</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">5</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">...</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">
                                        <svg width="12" height="12" viewbox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M5.99967 10.6666L10.6663 5.99992L5.99968 1.33325M10.6663 5.99992L1.33301 5.99992" stroke="" stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                {% include 'inc/job-sidebar.html' %}
            </div>
        </div>
    </section>

{% endblock content %}