{% extends 'layouts/app.html' %}

{% block content %}
<div class="container pt-140 pb-170">
    <div class="row">
        <div class="col-lg-5 mx-auto">
            <div class="border rounded-3 px-md-5 px-3 ptb-50">
                <div class="login-content">
                    <div class="text-center mb-4">
                        {% if step == 'request' %}
                            <p class="neutral-1000 px-4 py-2 bg-2 text-sm-bold rounded-12 d-inline-flex align-items-center">
                                Reset Password
                            </p>
                            <h4 class="neutral-1000">Enter your email to receive an OTP</h4>
                        {% elif step == 'confirm' %}
                            <p class="neutral-1000 px-4 py-2 bg-2 text-sm-bold rounded-12 d-inline-flex align-items-center">
                                Confirm Reset
                            </p>
                            <h4 class="neutral-1000">Enter OTP and set a new password</h4>
                        {% endif %}
                    </div>
                    <div class="form-login mt-30">
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="form-group mb-30">
                                <button class="btn btn-primary w-100" type="submit">
                                    {% if step == 'request' %}
                                        Send OTP
                                    {% elif step == 'confirm' %}
                                        Reset Password
                                    {% endif %}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
