{% extends 'layouts/app_2.html' %}
{% load static %}
{% block content %}

<div class="container pt-40 pb-170">
    <div class="row">
        <div class="col-lg-5 mx-auto">
            <div class="border rounded-3 px-md-5 px-3 ptb-50">
                <div class="login-content">
                    <div class="text-center">
                        <p class="neutral-1000 px-4 py-2 bg-2 text-sm-bold rounded-12 d-inline-flex align-items-center">Sign in</p>
                        <h4 class="neutral-1000">Welcome back</h4>
                    </div>
                    <div class="form-login mt-30">
                        <form action="#">
                            <div class="form-group">
                                <input class="form-control username" type="text" placeholder="Email / Username">
                            </div>
                            <div class="form-group">
                                <input class="form-control password" type="password" placeholder="****************">
                            </div>
                            <div class="form-group">
                                <div class="box-remember-forgot">
                                    <div class="remeber-me">
                                        <label class="text-xs-medium neutral-500"> <input class="cb-remember" type="checkbox">Remember me </label>
                                    </div>
                                    <div class="forgotpass"><a class="text-xs-medium neutral-500" href="#">Forgot password?</a></div>
                                </div>
                            </div>
                            <div class="form-group mb-30">
                                <a class="btn btn-primary w-100" href="#">Sign in
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8 15L15 8L8 1M15 8L1 8" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </a>
                            </div>
                            
                            <p class="text-sm-medium neutral-500 text-center mt-70">Don’t have an account? <a class="neutral-1000" href="signup">Register Here !</a></p>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}