{% extends 'layouts/app_2.html' %}
{% load static %}
{% block content %}

<section class="box-section background-body pt-80">
    <div class="container">
        <div class="text-center">
            <div class="background-body px-3 py-2 rounded-12 border d-flex gap-3 d-inline-flex">
                <a href="index.html" class="neutral-700 text-md-medium">Home</a>
                <span>
                    <img src="{% static 'img/icons/arrow-right.svg' %}" alt="Carento" />
                </span>
                <a href="#" class="neutral-1000 text-md-bold">User Dashboard</a>
            </div>
            <h3 class="mt-3 neutral-1000">User Dashboard</h3>
        </div>
    </div>
</section>
<section class="box-section background-body pt-80 pb-110 dashboard">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4">
                <div class="card user-sidebar mb-4">
                    <div class="card-header user-sidebar-header">
                        <div class="profile-content rounded-pill">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center justify-content-center py-2">
                                    <img src="assets/imgs/section-1/img-2.png" alt="image" class="img-fluid avatar avatar-lg rounded-circle me-3">
                                    <div>
                                        <p class="fw-bold fs-5">Steven Jobs</p>
                                        <span class="fs-14 text-gray-6">Since 16 Aprill 2015</span>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="card-body user-sidebar-body">
                        <ul class="dashboard-sidebar-menu">
                            <li class="py-2"><a href="/dashboard"><i class="fi fi-rr-home me-1"></i> User Dashboard</a></li>
                            <li class="py-2"><a href="/userbookings"><i class="fi fi-rr-calendar me-1"></i>My Bookings</a></li>
                            <li class="py-2"><a href="/#"><i class="fi fi-rr-user me-1"></i>My Profile</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-8">
                <!--User dashboard home content-->
                <div class="alert alert-success alert-dismissible d-flex align-items-center border-0 mb-4 fade show  wow fadeInDown">
                    <i class="fi fi-rr-info me-2 mt-1"></i>
                    <p class="mb-0">
                        Grand opening promotion ends in 3 hours. Hurry up and book your car!
                    </p>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                <!--Couner-->
                <div class="row">
                    <div class="col-xl-4 mb-2 mb-lg-0">
                        <div class="card shadow-none">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <span class="avatar avatar-xl rounded-circle bg-primary me-3">
                                        <i class="fi fi-rr-bookmark fs-36"></i>
                                    </span>
                                    <div>
                                        <h5><span class="odometer" data-count="25"></span></h5>
                                        <p>Total Bookings</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 mb-2 mb-lg-0">
                        <div class="card shadow-none">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <span class="avatar avatar-xl rounded-circle bg-danger me-3">
                                        <i class="fi fi-rr-research-arrows-circle"></i>
                                    </span>
                                    <div>
                                        <h5>$<span class="odometer" data-count="28"></span>K</h5>
                                        <p>Total Transactions</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="card shadow-none">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <span class="avatar avatar-xl rounded-circle bg-warning me-3">
                                        <i class="fi fi-rr-wallet"></i>
                                    </span>
                                    <div>
                                        <h5>$<span class="odometer" data-count="2458"></span></h5>
                                        <p>Wallet balance</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--notifications & recent bookings-->
                <div class="row mt-4">
                    <!-- Notifications -->
                    <div class="col-xl-5 d-flex  mb-3 mb-lg-0">
                        <div class="card shadow-none flex-fill">
                            <div class="card-header">
                                <div class="d-flex justify-content-between align-items-center">
                                    <span class="neutral-1000 text-md-bold fs-5">Notifications</span>
                                    <div class="dropdown">
                                        <a href="javascript:void(0);" class="dropdown-toggle btn btn-sort bg-neutral-100 btn-sm text-gray-6 rounded-pill fw-normal fs-8 d-inline-flex align-items-center" data-bs-toggle="dropdown">
                                            <i class="fi fi-rr-filter-list me-2"></i>All
                                        </a>
                                        <ul class="dropdown-menu small dropdown-menu-end p-2">
                                            <li>
                                                <a href="javascript:void(0);" class="dropdown-item rounded-1">
                                                    <i class="ti ti-point-filled me-1"></i>All
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);" class="dropdown-item rounded-1">
                                                    <i class="ti ti-point-filled me-1"></i>Recent
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">

                                <div class="d-flex align-items-center mb-3">
                                    <span class="avatar avatar-lg bg-primary rounded-circle flex-shrink-0 me-2 lh-1">
                                        <i class="fi fi-rr-calendar-clock"></i>
                                    </span>
                                    <div class="flex-fill overflow-hidden">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <p class="fs-6 text-truncate text-md-bold">Reservation Confirmed</p>
                                            <p class="fs-8 text-primary-dark text-nowrap">2 mins ago</p>
                                        </div>
                                        <p class="fs-8 two-line-ellipsis neutral-500">Your car rental reservation
                                            <span class="text-md-bold neutral-700">#12345</span> has been
                                            successfully confirmed.
                                        </p>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center mb-3">
                                    <span class="avatar avatar-lg bg-warning rounded-circle flex-shrink-0 me-2 lh-1">
                                        <i class="fi fi-rr-money-check-edit"></i>
                                    </span>
                                    <div class="flex-fill overflow-hidden">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <p class="fs-6 text-truncate text-md-bold">Payment Successful</p>
                                            <p class="fs-8 text-primary-dark text-nowrap">25 mins ago</p>
                                        </div>
                                        <p class="fs-8 two-line-ellipsis neutral-500">Payment for your upcoming rental has been
                                            processed successfully.
                                        </p>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center mb-3">
                                    <span class="avatar avatar-lg bg-info rounded-circle flex-shrink-0 me-2 lh-1">
                                        <i class="fi fi-rr-bolt"></i>
                                    </span>
                                    <div class="flex-fill overflow-hidden">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <p class="fs-6 text-truncate text-md-bold">New Promotion Alert</p>
                                            <p class="fs-8 text-primary-dark text-nowrap">2 hours ago</p>
                                        </div>
                                        <p class="fs-8 two-line-ellipsis neutral-500">Enjoy
                                            <span class="text-md-bold neutral-700">20%</span> off on all SUV rentals booked this
                                            weekend.
                                        </p>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center mb-3">
                                    <span class="avatar avatar-lg bg-danger rounded-circle flex-shrink-0 me-2 lh-1">
                                        <i class="fi fi-rr-bell-ring"></i>
                                    </span>
                                    <div class="flex-fill overflow-hidden">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <p class="fs-6 text-truncate text-md-bold">Vehicle Ready for Pickup</p>
                                            <p class="fs-8 text-primary-dark text-nowrap">4 days ago</p>
                                        </div>
                                        <p class="fs-8 two-line-ellipsis neutral-500">The vehicle you reserved is ready for pickup at
                                            the designated location.
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- /Notifications -->
                    <!-- Booking -->
                    <div class="col-xl-7 d-flex">
                        <div class="card shadow-none flex-fill">
                            <div class="card-header">
                                <div class="d-flex justify-content-between align-items-center">
                                    <span class="neutral-1000 text-md-bold fs-5">Recent Bookings</span>
                                    <div class="dropdown">
                                        <a href="javascript:void(0);" class="dropdown-toggle btn btn-sort bg-neutral-100 btn-sm text-gray-6 rounded-pill fw-normal fs-8 d-inline-flex align-items-center" data-bs-toggle="dropdown">
                                            <i class="fi fi-rr-filter-list me-2"></i>Fillter
                                        </a>
                                        <ul class="dropdown-menu small dropdown-menu-end p-2">
                                            <li>
                                                <a href="javascript:void(0);" class="dropdown-item rounded-1">
                                                    <i class="ti ti-point-filled me-1"></i>All
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);" class="dropdown-item rounded-1">
                                                    <i class="ti ti-point-filled me-1"></i>Recent
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="card shadow-none mb-2">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center flex-wrap row-gap-2">
                                            <a href="cars-details-1.html" class="thumb-1 flex-shrink-0 me-2">
                                                <img src="assets/imgs/cars-listing/cars-listing-6/car-1.png" class="img-fluid" alt="Img">
                                            </a>
                                            <div class="flex-fill">
                                                <div class="d-flex justify-content-between align-items-center mb-1">
                                                    <p class="fs-6 text-truncate text-md-bold"><a href="cars-details-1.html">GMC Sierra
                                                            2500HD Denali
                                                            <span class="text-gray-5 fw-normal fs-8">( Australia )</span></a>
                                                    </p>
                                                    <span class="badge badge-purple badge-sm neutral-500 rounded-pill"><i class="ti ti-point-filled me-1"></i>Paid</span>
                                                </div>
                                                <div class="d-flex align-items-center flex-wrap">
                                                    <p class="fs-8 d-flex align-items-center border-end pe-2 me-2 mb-0"><i class="isax isax-calendar-25 me-2"></i>Date : 01 Jan 2025</p>
                                                    <p class="fs-8 d-flex align-items-center"><i class="isax isax-timer5 me-2"></i>Time:
                                                        06:30 AM</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- /Booking -->
                </div>

                
            </div>
        </div>
    </div>
</section>
{% endblock %}