{% extends 'layouts/app.html' %}

{% block content %}

    <section class="box-section background-body pt-80">
        <div class="container">
            <div class="text-center">
                <div class="background-body px-3 py-2 rounded-12 border d-flex gap-3 d-inline-flex">
                    <a href="{% url 'auth:profile' %}" class="neutral-700 text-md-medium">Home</a>
                    <span>
                        <img src="https://carento-demo.vercel.app/assets/imgs/template/icons/arrow-right.svg" alt="Carento" />
                    </span>
                    <a href="#" class="neutral-1000 text-md-bold">Applicants</a>
                </div>
                <h3 class="mt-3 neutral-1000">Applicants</h3>
            </div>
        </div>
    </section>

    <section class="box-section background-body pt-80 pb-110 dashboard">
        <div class="container">
            <div class="row">
                {% include 'inc/user-sidebar.html' %}

                <div class="col-xl-9 col-lg-8">
                    <div class="row">
                        <div class="col-xl-12 d-flex">
                            <div class="card shadow-none flex-fill">
                                <div class="card-header">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <span class="neutral-1000 text-md-bold fs-5">Applicants</span>
                                        <div class="d-flex gap-2">
                                            <!-- Search Input -->
                                            <div class="input-icon-start position-relative">
                                                <span class="icon-addon">
                                                    <i class="fi fi-rr-search"></i>
                                                </span>
                                                <input type="text" class="input-small" placeholder="Search job title or location">
                                            </div>

                                            <!-- Status Filter Dropdown -->
                                            <div class="dropdown">
                                                <a href="javascript:void(0);" class="dropdown-toggle btn btn-sort bg-neutral-100 btn-sm neutral-500 rounded-pill fw-normal fs-8 d-inline-flex align-items-center" data-bs-toggle="dropdown">
                                                    <i class="fi fi-rr-steering-wheel me-2"></i> Status
                                                </a>
                                                <ul class="dropdown-menu small dropdown-menu-end p-2">
                                                    <li>
                                                        <a href="?status=open" class="dropdown-item rounded-1">
                                                            <i class="ti ti-point-filled me-1"></i> Open
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="?status=closed" class="dropdown-item rounded-1">
                                                            <i class="ti ti-point-filled me-1"></i> Closed
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="?status=pending" class="dropdown-item rounded-1">
                                                            <i class="ti ti-point-filled me-1"></i> Pending
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="?status=in_progress" class="dropdown-item rounded-1">
                                                            <i class="ti ti-point-filled me-1"></i> In Progress
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                            <!-- Sort Filter Dropdown -->
                                            <div class="dropdown">
                                                <a href="javascript:void(0);" class="dropdown-toggle btn btn-sort bg-neutral-100 btn-sm neutral-500 rounded-pill fw-normal fs-8 d-inline-flex align-items-center" data-bs-toggle="dropdown">
                                                    <i class="fi fi-rr-filter-list me-2"></i> Sort
                                                </a>
                                                <ul class="dropdown-menu small dropdown-menu-end p-2">
                                                    <li>
                                                        <a href="?sort=newest" class="dropdown-item rounded-1">
                                                            <i class="ti ti-point-filled me-1"></i> Newest
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="?sort=oldest" class="dropdown-item rounded-1">
                                                            <i class="ti ti-point-filled me-1"></i> Oldest
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>
                                        <a href="{% url 'base:addJobListing' %}" class="btn btn-primary">
                                            Add New Job
                                        </a>
                                    </div>
                                </div>

                                <div class="card-body">
                                    <div class="card shadow-none mb-2">
                                        <div class="table-responsive">
                                            <table class="table datatable table-striped">
                                                <thead class="thead-light">
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Job Title & Salary</th>
                                                        <th>Nanny</th>
                                                        <th>Availability</th>
                                                        <th>Status</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}
