{% extends 'layouts/app.html' %}
{% load humanize %}
{% block content %}

    <section class="box-section background-body pt-80">
        <div class="container">
            <div class="text-center">
                <div class="background-body px-3 py-2 rounded-12 border d-flex gap-3 d-inline-flex">
                    <a href="{% url 'auth:profile' %}" class="neutral-700 text-md-medium">Home</a>
                    <span>
                        <img src="https://carento-demo.vercel.app/assets/imgs/template/icons/arrow-right.svg" alt="Carento" />
                    </span>
                    <a href="{% url 'base:getJobApplicants' %}" class="neutral-1000 text-md-bold">Applicants</a>
                    <span>
                        <img src="https://carento-demo.vercel.app/assets/imgs/template/icons/arrow-right.svg" alt="Carento" />
                    </span>
                    <a href="{% url 'base:getJobApplicants' %}" class="neutral-1000 text-md-bold">{{ applicant.job.title }}</a>
                </div>
                <h3 class="mt-3 neutral-1000">{{ applicant.job.title }}</h3>
            </div>
        </div>
    </section>

    <section class="box-section background-body pt-80 pb-110 dashboard">
        <div class="container">
            <div class="row">
                {% include 'inc/user-sidebar.html' %}

                <div class="col-xl-9 col-lg-8">
                    <div class="row mb-3">
                        <div class="col-lg-3 mb-3 mb-lg-0">
                            <div class="card shadow-none flex-fill bg-1">
                                <div class="box-earning px-3 py-4 text-center">
                                    <span class="avatar rounded-circle bg-primary me-3">
                                        <img src="https://static.vecteezy.com/system/resources/thumbnails/005/129/844/small_2x/profile-user-icon-isolated-on-white-background-eps10-free-vector.jpg" alt="image">
                                    </span>
                                    <p>{{ applicant.nanny.name }}</p>
                                    <p>{{ applicant.nanny.phone_number }}</p>
                                    <p>{{ applicant.nanny.email }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="card shadow-none flex-fill bg-3">
                                <div class="box-earning px-3 py-4">
                                    <span class="neutral-1000 text-md-bold fs-5">Job Info</span>
                                    <div class="row">
                                        <div class="col-lg-3 me-2 me-lg-0">
                                            <p class="fs-8 two-line-ellipsis neutral-500 text-md-bold">Client Name</p>
                                            <p class="fs-6 text-truncate">{{ applicant.job.client.name }}</p>
                                        </div>
                                        <div class="col-lg-3 me-2 me-lg-0">
                                            <p class="fs-8 two-line-ellipsis neutral-500 text-md-bold">Client Phone Number</p>
                                            <p class="fs-6 text-truncate">{{ applicant.job.client.phone_number }}</p>
                                        </div>
                                        <div class="col-lg-3 me-2 me-lg-0">
                                            <p class="fs-8 two-line-ellipsis neutral-500 text-md-bold">Job</p>
                                            <p class="fs-6 text-truncate">{{ applicant.job.title }}</p>
                                        </div>
                                        <div class="col-lg-2 me-2 me-lg-0">
                                            <p class="fs-8 two-line-ellipsis neutral-500 text-md-bold">Job Salary</p>
                                            <p class="fs-6 text-truncate">{{ applicant.job.salary|floatformat|intcomma }} RWF</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card shadow-none flex-fill bg-3">
                                <div class="box-earning px-3 py-4">
                                    <span class="neutral-1000 text-md-bold fs-5">Application info</span>
                                    <div class="row">
                                        <div class="col-lg-6 me-2 me-lg-0">
                                            <p class="fs-8 two-line-ellipsis neutral-500 text-md-bold">Nanny Experience</p>
                                            <p class="fs-6 text-truncate">{{ applicant.experience }}</p>
                                        </div>
                                        <div class="col-lg-6 me-2 me-lg-0">
                                            <p class="fs-8 two-line-ellipsis neutral-500 text-md-bold">Nanny Availability</p>
                                            <p class="fs-6 text-truncate">{{ applicant.availability|date }}</p>
                                        </div>
                                        <div class="col-lg-12 me-2 me-lg-0">
                                            <p class="fs-8 two-line-ellipsis neutral-500 text-md-bold">Nanny Cover letter</p>
                                            <p class="fs-6 text-truncate">{{ applicant.cover_letter }}</p>
                                        </div>
                                    </div>
                                    {% if applicant.status == 'pending' %}
                                    <div class="d-flex gap-5 justify-content-between w-100 mt-4">
                                        <a href="#" class="d-flex align-items-center gap-1 text-primary-dark" 
                                           onclick="confirmAction('Accept Application', '{{ applicant.id }}', 'accept')">
                                            <i class="fi fi-rr-check"></i>
                                            Accept Application
                                        </a>
                                        <a href="#" class="d-flex align-items-center gap-1 text-danger" 
                                           onclick="confirmAction('Reject Application', '{{ applicant.id }}', 'reject')">
                                            <i class="fi fi-rr-do-not-enter"></i>
                                            Reject Application
                                        </a>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        function confirmAction(action, id, type) {
            if (confirm('Are you sure you want to ' + action + '?')) {
                let url = type === 'accept' ? "{% url 'base:acceptApplication' '' %}".replace('id', id) : "{% url 'base:rejectApplication' '' %}".replace('id', id);
                fetch(url, { method: 'GET' })
                    .then(response => response.json())
                    .then(data => {
                        if (data.status === 'success') {
                            alert(data.message);
                            location.reload(); // Reload to reflect the status change
                        } else {
                            alert(data.message);
                        }
                    });
            }
        }
    </script>

{% endblock content %}
