{% load static %}

<footer class="footer">
    <div class="container">
        <div class="footer-top">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-6 text-center text-md-start">
                    <h5 class="color-white wow fadeInDown">
                        {% if request.session.lang == 'en' %}
                            Subscribe to our newsletter
                        {% else %}
                            Abonnez-vous à notre newsletter
                        {% endif %}
                    </h5>
                </div>
                <div class="col-lg-7 col-md-6 text-center text-md-end mt-md-0 mt-4">
                    <div class="d-flex align-items-center justify-content-center justify-content-md-end">
                        <form class="form-newsletter wow fadeInUp" action="#">
                            <input class="form-control" type="text" 
                                placeholder="{% if request.session.lang == 'en' %}Enter your email{% else %}Entrez votre e-mail{% endif %}"/>
                            <input class="btn btn-brand-2" type="submit" 
                                value="{% if request.session.lang == 'en' %}Subscribe{% else %}S'abonner{% endif %}"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 footer-1">
                <div class="mt-20 mb-20">
                    <a class="d-flex" href="{% url 'base:home' %}">
                        <img class="light-mode" alt="SAF" src="{{ settings.logo.url }}" style="width: 100px;"/>
                        <img class="dark-mode" alt="SAF" src="{{ settings.logo.url }}" style="width: 100px;"/>
                    </a>
                    <div class="box-info-contact mt-0">
                        <p class="text-md neutral-400 icon-address">
                            {% if request.session.lang == 'en' %}
                                Location
                            {% else %}
                                Emplacement
                            {% endif %}
                        </p>
                        <p class="text-md neutral-400 icon-email">
                            {{ settings.address }}
                        </p>
                    </div>
                    <div class="box-need-help">
                        <p class="need-help text-md-medium mb-5">
                            {% if request.session.lang == 'en' %}
                                Need help? Call us
                            {% else %}
                                Besoin d'aide ? Appelez-nous
                            {% endif %}
                        </p>
                        <br/>
                        <a class="heading-6 phone-support" href="#">
                            {{ settings.phone_number }}
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-6 footer-3">
                <h6 class="text-linear-3">
                    {% if request.session.lang == 'en' %}
                        About Us
                    {% else %}
                        À propos de nous
                    {% endif %}
                </h6>
                <ul class="menu-footer">
                    <li>
                        <a href="{% url 'base:services' %}" class="fw-bold">
                            {% if request.session.lang == 'en' %}
                                Our Services
                            {% else %}
                                Nos Services
                            {% endif %}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 col-xs-6 footer-2">
                <h6 class="text-linear-3">
                    {% if request.session.lang == 'en' %}
                        What We Do
                    {% else %}
                        Ce que nous faisons
                    {% endif %}
                </h6>
                <ul class="menu-footer">
                    <li>
                        <a href="{% url 'base:getNannies' %}" class="fw-bold">
                            {% if request.session.lang == 'en' %}
                                Connecting People
                            {% else %}
                                Connecter les gens
                            {% endif %}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom mt-50">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-6 text-md-start text-center mb-20">
                    <p class="text-sm color-white">
                        {% if request.session.lang == 'en' %}
                            © 2025 Comme chez Soi Burundi. All rights reserved. Developed by <a href='https://www.nexcodes.dev/' target='_blank'>NE<span style="color:red; font-weight: bold">X</span>CODE</a></p>
                        {% else %}
                            © 2025 Comme chez Soi Burundi. Tous droits réservés. Développé par <a href='https://www.nexcodes.dev/' target='_blank'>NE<span style="color:red; font-weight: bold">X</span>CODE</a></p>
                        {% endif %}
                    </p>
                </div>
                <div class="col-md-6 text-md-end text-center mb-20">
                    <div class="d-flex align-items-center justify-content-center justify-content-md-end">
                        <p class="text-lg-bold neutral-0 d-inline-block mr-10">
                            {% if request.session.lang == 'en' %}
                                Follow us
                            {% else %}
                                Suivez-nous
                            {% endif %}
                        </p>
                        <div class="box-socials-footer d-inline-block">
                            <a class="icon-socials icon-instagram" href="#">
                                <!-- Instagram SVG Icon -->
                            </a>
                            <a class="icon-socials icon-facebook" href="#">
                                <!-- Facebook SVG Icon -->
                            </a>
                            <a class="icon-socials icon-twitter" href="#">
                                <!-- Twitter SVG Icon -->
                            </a>
                            <a class="icon-socials icon-be" href="#">
                                <!-- Another Social Icon -->
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
