{% load static %}
<footer class="footer">
    <div class="container">
        <div class="footer-top">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-6 text-center text-md-start">
                    <h5 class="color-white wow fadeInDown">Subscribe to receive updates, parenting tips, and special offers from us!</h5>
                </div>
                <div class="col-lg-7 col-md-6 text-center text-md-end mt-md-0 mt-4">
                    <div class="d-flex align-items-center justify-content-center justify-content-md-end">
                        <form class="form-newsletter wow fadeInUp" action="#">
                            <input class="form-control" type="text" placeholder="Enter your email"/>
                            <input class="btn btn-brand-2" type="submit" value="Subscribe"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-12 footer-1">
                <div class="mt-20 mb-20">
                    <a class="d-flex" href="index.html">
                        <img class="light-mode" alt="Kigali Nanny Agency"  style="width: 100px;" src="{% static 'img/logo/logo-green.png' %}"/>
                        <img class="dark-mode" alt="Kigali Nanny Agency"  style="width: 100px;" src="{% static 'img/logo/logo-green.png' %}"/>
                    </a>
                    <div class="box-info-contact mt-0">
                        <p class="text-md neutral-400 icon-address">Kigali Business Center, KG 7 Ave, Kigali, Rwanda</p>
                        <p class="text-md neutral-400 icon-worktime">Hours: 8:00 - 18:00, Mon - Sat</p>
                        <p class="text-md neutral-400 icon-email">support@kigalinannyagency.com</p>
                    </div>
                    <div class="box-need-help">
                        <p class="need-help text-md-medium mb-5">Need help? Call us</p>
                        <br/>
                        <a class="heading-6 phone-support" href="tel:+250 788 000 000">+250 788 000 000</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-xs-6 footer-3">
                <h6 class="text-linear-3">Company</h6>
                <ul class="menu-footer">
                    <li>
                        <a href="#">About Us</a>
                    </li>
                    <li>
                        <a href="#">Our Mission</a>
                    </li>
                    <li>
                        <a href="#">Nanny Certifications</a>
                    </li>
                    <li>
                        <a href="#">Client Testimonials</a>
                    </li>
                    <li>
                        <a href="#">Terms of Use</a>
                    </li>
                    <li>
                        <a href="#">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#">Career Opportunities</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 col-xs-6 footer-2">
                <h6 class="text-linear-3">Our Services</h6>
                <ul class="menu-footer">
                    <li>
                        <a href="#">Full-Time Nannies</a>
                    </li>
                    <li>
                        <a href="#">Part-Time Care</a>
                    </li>
                    <li>
                        <a href="#">On-Demand Babysitting</a>
                    </li>
                    <li>
                        <a href="#">Night Care Services</a>
                    </li>
                    <li>
                        <a href="#">Newborn Specialists</a>
                    </li>
                    <li>
                        <a href="#">Tutoring Assistance</a>
                    </li>
                    <li>
                        <a href="#">Household Management</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 col-xs-6 footer-4">
                <h6 class="text-linear-3">Our Partners</h6>
                <ul class="menu-footer">
                    <li>
                        <a href="#">Parenting Networks</a>
                    </li>
                    <li>
                        <a href="#">Childcare Organizations</a>
                    </li>
                    <li>
                        <a href="#">Community Programs</a>
                    </li>
                    <li>
                        <a href="#">Healthcare Providers</a>
                    </li>
                    <li>
                        <a href="#">Educational Institutions</a>
                    </li>
                    <li>
                        <a href="#">Collaborate with Us</a>
                    </li>
                    <li>
                        <a href="#">Advertising Opportunities</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-xs-6 footer-5">
                <h6 class="text-linear-3">Support</h6>
                <ul class="menu-footer">
                    <li>
                        <a href="#">FAQs</a>
                    </li>
                    <li>
                        <a href="#">Parent Resources</a>
                    </li>
                    <li>
                        <a href="#">Live Chat Support</a>
                    </li>
                    <li>
                        <a href="#">How We Work</a>
                    </li>
                    <li>
                        <a href="#">Child Safety Standards</a>
                    </li>
                    <li>
                        <a href="#">Refund Policy</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom mt-50">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-6 text-md-start text-center mb-20">
                    <p class="text-sm color-white">© 2024 Kigali Nanny Agency. All rights reserved.</p>
                </div>
                <div class="col-md-6 text-md-end text-center mb-20">
                    <div class="d-flex align-items-center justify-content-center justify-content-md-end">
                        <p class="text-lg-bold neutral-0 d-inline-block mr-10">Follow us</p>
                        <div class="box-socials-footer d-inline-block">
                            <a class="icon-socials icon-instagram" href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
                                    <path d="..." fill="white"/>
                                </svg>
                            </a>
                            <a class="icon-socials icon-facebook" href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
                                    <path d="..." fill="white"/>
                                </svg>
                            </a>
                            <a class="icon-socials icon-twitter" href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
                                    <path d="..." fill="white"/>
                                </svg>
                            </a>
                            <a class="icon-socials icon-linkedin" href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
                                    <path d="..." fill="white"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
