{% load static %}
<!--Preloader-->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="text-center">
                <div class="page-loader"></div>
            </div>
        </div>
    </div>
</div>
<!--Preloader-end -->
<!-- Navbar -->
<header class="header sticky-bar header-home-2">
    <div class="container-fluid background-body">
        <div class="main-header">
            <div class="header-left">
                <div class="header-logo">
                    <a class="d-flex" href="index.html">
                        <img class="light-mode" alt="Carento" style="width: 100px;" src="{% static 'img/logo/logo-green.png' %}"/>
                        <img class="dark-mode" alt="Carento" style="width: 100px;" src="{% static 'img/logo/logo-green.png' %}"/>
                    </a>
                </div>
                <div class="header-nav">
                    <nav class="nav-main-menu">
                        <ul class="main-menu">
                            
                            
                            <li>
                                <a class="neutral-1000" href="/">Home</a>
                            </li>
                            <li>
                                <a class="neutral-1000" href="/about">About</a>
                            </li>
                            <li>
                                <a class="neutral-1000" href="/services">Services</a>
                            </li>
                            <li>
                                <a class="neutral-1000" href="/jobs">Jobs</a>
                            </li>
                            <li>
                                <a class="neutral-1000" href="/contact">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="header-right">
                    <div class="d-none d-xxl-inline-block align-middle mr-15">
                        <a class="btn btn-signin neutral-1000" href="/lo">
                            <svg class="mb-1" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                                <path d="M1 12C1 12 0 12 0 11C0 10 1 7 6 7C11 7 12 10 12 11C12 12 11 12 11 12H1ZM6 6C6.79565 6 7.55871 5.68393 8.12132 5.12132C8.68393 4.55871 9 3.79565 9 3C9 2.20435 8.68393 1.44129 8.12132 0.87868C7.55871 0.316071 6.79565 0 6 0C5.20435 0 4.44129 0.316071 3.87868 0.87868C3.31607 1.44129 3 2.20435 3 3C3 3.79565 3.31607 4.55871 3.87868 5.12132C4.44129 5.68393 5.20435 6 6 6Z" fill="#101010"/>
                            </svg>
                            Sign in
                    
                        </a>
                        <a class="btn btn-signin background-brand-2 text-dark" href="agent-dashboard-add-listing.html">Sign Up</a>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
</header>
<div class="mobile-header-active mobile-header-wrapper-style perfect-scrollbar button-bg-2">
    <div class="mobile-header-wrapper-inner">
        <div class="mobile-header-logo">
            <a class="d-flex" href="index.html">
                <img class="light-mode" alt="Carento" src="assets/imgs/template/logo-d.svg"/>
                <img class="dark-mode" alt="Carento" src="assets/imgs/template/logo-w.svg"/>
            </a>
            <div class="burger-icon burger-icon-white"></div>
        </div>
        <div class="mobile-header-content-area">
            <div class="perfect-scroll">
                <div class="mobile-menu-wrap mobile-header-border">
                    <nav>
                        <ul class="mobile-menu font-heading">
                            <li class="has-children">
                                <a href="#">Home Pages</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="index.html">Home page v1</a>
                                    </li>
                                    <li>
                                        <a href="index-2.html">Home page v2</a>
                                    </li>
                                    <li>
                                        <a href="index-3.html">Home page v3</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="#">Vehicles</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="cars-list-1.html">Cars List v1</a>
                                    </li>
                                    <li>
                                        <a href="cars-list-2.html">Cars List v2</a>
                                    </li>
                                    <li>
                                        <a href="cars-list-3.html">Cars List v3</a>
                                    </li>
                                    <li>
                                        <a href="cars-list-4.html">Cars List v4</a>
                                    </li>
                                    <li>
                                        <a href="cars-details-1.html">Car Details v1</a>
                                    </li>
                                    <li>
                                        <a href="cars-details-2.html">Car Details v2</a>
                                    </li>
                                    <li>
                                        <a href="cars-details-3.html">Car Details v3</a>
                                    </li>
                                    <li>
                                        <a href="cars-details-4.html">Car Details v4</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="#">Dealers</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="dealer-listing.html">Dealers Listing</a>
                                    </li>
                                    <li>
                                        <a href="dealer-details.html">Dealer Details</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="#">Shop</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="shop-list.html">Shop Grid</a>
                                    </li>
                                    <li>
                                        <a href="shop-details.html">Product Details</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="#">Pages</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="about-us.html">About Us</a>
                                    </li>
                                    <li>
                                        <a href="services.html">Our Services</a>
                                    </li>
                                    <li>
                                        <a href="pricing.html">Pricing</a>
                                    </li>
                                    <li>
                                        <a href="calculator.html">Loan Calculator</a>
                                    </li>
                                    <li>
                                        <a href="faqs.html">FAQs</a>
                                    </li>
                                    <li>
                                        <a href="term.html">Term</a>
                                    </li>
                                    <li>
                                        <a href="contact.html">Contact</a>
                                    </li>
                                    <li>
                                        <a href="login.html">Login</a>
                                    </li>
                                    <li>
                                        <a href="register.html">Register</a>
                                    </li>
                                    <li>
                                        <a href="404.html">Error 404</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="#">News</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="blog-grid.html">News Grid</a>
                                    </li>
                                    <li>
                                        <a href="blog-list.html">News List</a>
                                    </li>
                                    <li>
                                        <a href="blog-details.html">News Details</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="#">User Dashboard</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="user-dashboard-home.html">
                                            <i class="fi fi-rr-home me-1"></i>
                                            User Dashboard
                                        </a>
                                    </li>
                                    <li>
                                        <a href="user-dashboard-bookings.html">
                                            <i class="fi fi-rr-calendar me-1"></i>
                                            My Bookings
                                        </a>
                                    </li>
                                    <li>
                                        <a href="user-dashboard-wishlist.html">
                                            <i class="fi fi-rr-heart me-1"></i>
                                            My Wishlist
                                        </a>
                                    </li>
                                    <li>
                                        <a href="user-dashboard-wallet.html">
                                            <i class="fi fi-rr-money me-1"></i>
                                            My Wallet
                                        </a>
                                    </li>
                                    <li>
                                        <a href="user-dashboard-profile.html">
                                            <i class="fi fi-rr-user me-1"></i>
                                            My Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a href="user-dashboard-setting.html">
                                            <i class="fi fi-rr-settings me-1"></i>
                                            Setting
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="#">Agent Dashboard</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="agent-dashboard-home.html">
                                            <i class="fi fi-rr-home me-1"></i>
                                            Dashboard
                                        </a>
                                    </li>
                                    <li>
                                        <a href="agent-dashboard-listing.html">
                                            <i class="fi fi-rr-calendar me-1"></i>
                                            Listings
                                        </a>
                                    </li>
                                    <li>
                                        <a href="agent-dashboard-add-listing.html">
                                            <i class="fi fi-rr-heart me-1"></i>
                                            Add Listing
                                        </a>
                                    </li>
                                    <li>
                                        <a href="agent-dashboard-earning.html">
                                            <i class="fi fi-rr-money me-1"></i>
                                            Earnings
                                        </a>
                                    </li>
                                    <li>
                                        <a href="agent-dashboard-setting.html">
                                            <i class="fi fi-rr-settings me-1"></i>
                                            Setting
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="contact.html">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- offCanvas Sidebar -->
<div class="sidebar-canvas-wrapper perfect-scrollbar button-bg-2">
    <div class="sidebar-canvas-container">
        <div class="sidebar-canvas-head">
            <div class="sidebar-canvas-logo">
                <a class="d-flex" href="index.html">
                    <img class="light-mode" alt="Carento" src="assets/imgs/template/logo-d.svg"/>
                    <img class="dark-mode" alt="Carento" src="assets/imgs/template/logo-w.svg"/>
                </a>
            </div>
            <div class="sidebar-canvas-lang">
                <div class="d-inline-block box-dropdown-cart align-middle mr-15">
                    <span class="text-14-medium icon-list icon-account icon-lang">
                        <span class="text-14-medium arrow-down text-dark">EN</span>
                    </span>
                    <div class="dropdown-account">
                        <ul>
                            <li>
                                <a class="text-sm-medium" href="#">English</a>
                            </li>
                            <li>
                                <a class="text-sm-medium" href="#">French</a>
                            </li>
                            <li>
                                <a class="text-sm-medium" href="#">Chinese</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="d-inline-block box-dropdown-cart align-middle mr-15">
                    <span class="text-14-medium icon-list icon-cart">
                        <span class="text-14-medium arrow-down text-dark">USD</span>
                    </span>
                    <div class="dropdown-cart">
                        <ul>
                            <li>
                                <a class="text-sm-medium" href="#">USD</a>
                            </li>
                            <li>
                                <a class="text-sm-medium" href="#">EUR</a>
                            </li>
                            <li>
                                <a class="text-sm-medium" href="#">SGP</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <a class="close-canvas" href="#">
                    <img alt="Carento" src="assets/imgs/template/icons/close.png"/>
                </a>
            </div>
        </div>
        <div class="sidebar-canvas-content">
            <div class="box-author-profile">
                <div class="card-author">
                    <div class="card-image">
                        <img src="assets/imgs/page/homepage1/author2.png" alt="Carento"/>
                    </div>
                    <div class="card-info">
                        <p class="text-md-bold neutral-1000">Howdy, Steven</p>
                        <p class="text-xs neutral-1000">25 September 2024</p>
                    </div>
                </div>
                <a class="btn btn-black" href="#">Logout</a>
            </div>
            <div class="sidebar-banner">
                <div class="position-relative">
                    <p class="text-xl-bold neutral-1000 mb-4">Viewed products</p>
                    <div class="d-flex align-items-center mb-3">
                        <div class="me-3 border rounded-3 overflow-hidden mw-65">
                            <a href="shop-details.html">
                                <img src="assets/imgs/shop/shop-details/other-item1.png" alt="Carento"/>
                            </a>
                        </div>
                        <div class="position-relative">
                            <a href="#" class="text-md-bold neutral-1000">R1 Concepts® – eLINE Series Plain Brake Rotors</a>
                            <p class="text-md-bold text-success">$20.00</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        <div class="me-3 border rounded-3 overflow-hidden mw-65">
                            <a href="shop-details.html">
                                <img src="assets/imgs/shop/shop-details/other-item2.png" alt="Carento"/>
                            </a>
                        </div>
                        <div class="position-relative">
                            <a href="#" class="text-md-bold neutral-1000">PIRELLI TIRES® – P4 FOUR SEASONS PLUS</a>
                            <p class="text-md-bold text-success">$160.00</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        <div class="me-3 border rounded-3 overflow-hidden mw-65">
                            <a href="shop-details.html">
                                <img src="assets/imgs/shop/shop-details/other-item3.png" alt="Carento"/>
                            </a>
                        </div>
                        <div class="position-relative">
                            <a href="#" class="text-md-bold neutral-1000">Mobil 1 Extended Performance Full Synthetic Motor Oil</a>
                            <p class="text-md-bold text-success">$33.00</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        <div class="me-3 border rounded-3 overflow-hidden mw-65">
                            <a href="shop-details.html">
                                <img src="assets/imgs/shop/shop-details/other-item4.png" alt="Carento"/>
                            </a>
                        </div>
                        <div class="position-relative">
                            <a href="#" class="text-md-bold neutral-1000">HRE FlowForm® – FT01 Tarma Honda 2024</a>
                            <p class="text-md-bold text-success">$250.00</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        <div class="me-3 border rounded-3 overflow-hidden mw-65">
                            <a href="shop-details.html">
                                <img src="assets/imgs/shop/shop-details/other-item5.png" alt="Carento"/>
                            </a>
                        </div>
                        <div class="position-relative">
                            <a href="#" class="text-md-bold neutral-1000">Mobil Delvac 1300 Super Heavy Duty Synthetic</a>
                            <p class="text-md-bold text-success">$44.00</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-contactus">
                <h6 class="title-contactus neutral-1000">Contact Us</h6>
                <div class="contact-info">
                    <p class="address-2 text-md-medium neutral-1000">
                        4517 Washington Ave. <br/>Manchester, Kentucky 39495
                    </p>
                    <p class="hour-work-2 text-md-medium neutral-1000">Hours: 8:00 - 17:00, Mon - Sat</p>
                    <p class="email-2 text-md-medium neutral-1000">support@carento.com</p>
                </div>
            </div>
        </div>
    </div>
</div>