<div class="content-left order-lg-first">
    <div class="sidebar-left border-1 background-body">
        <div class="box-filters-sidebar">
            <div class="block-filter border-1">
                <h6 class="text-lg-bold item-collapse neutral-1000">Categories</h6>
                <div class="box-collapse scrollFilter">
                    <ul class="list-filter-checkbox">
                        <li>
                            <span class="text-sm-medium">Accessories</span>
                            <span class="checkmark"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>