<div class="content-left order-lg-first">
    <div class="sidebar-left border-1 background-body">
        <div class="box-filters-sidebar">
            <div class="block-filter border-1">
                <h6 class="text-lg-bold item-collapse neutral-1000">
                    {% if request.session.lang == 'en' %}
                        Categories
                    {% else %}
                        Catégories
                    {% endif %}
                </h6>
                <div class="box-collapse scrollFilter">
                    <ul class="list-filter-checkbox">
                        {% for code, name in job_categories %}
                            <li>
                                <a href="#" class="text-sm-medium">
                                    {{ name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar-left border-1 background-body">
        <div class="box-filters-sidebar">
            <div class="block-filter border-1">
                <h6 class="text-lg-bold item-collapse neutral-1000">
                    {% if request.session.lang == 'en' %}
                        Job Status
                    {% else %}
                        Statut du poste
                    {% endif %}
                </h6>
                <div class="box-collapse scrollFilter">
                    <ul class="list-filter-checkbox">
                        {% for status_code, status_name in job_statuses %}
                            <li>
                                <a href="#" class="text-sm-medium">
                                    {{ status_name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
