<div class="content-left order-lg-first">
    <div class="sidebar-left border-1 background-body">
        <div class="box-filters-sidebar">
            <div class="block-filter border-1">
                <h6 class="text-lg-bold item-collapse neutral-1000">Filter Price</h6>
                <div class="box-collapse scrollFilter">
                    <div class="pt-20">
                        <div class="box-slider-range">
                            <div id="slider-range"></div>
                            <div class="box-value-price">
                                <span class="text-md-medium neutral-1000">$0</span>
                                <span class="text-md-medium neutral-1000">$500</span>
                            </div>
                            <input class="value-money" type="hidden"/>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between pt-20 border-top">
                    <a href="#" class="d-flex align-items-center">
                        <div class="background-100 icon-shape p-1 rounded-1 me-2">
                            <svg class="" xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9" fill="none">
                                <line x1="1.20074" y1="1.5141" x2="7.59837" y2="7.91174" stroke="black" stroke-width="0.904762"/>
                                <line x1="1.01337" y1="7.91156" x2="7.411" y2="1.51393" stroke="black" stroke-width="0.904762"/>
                            </svg>
                        </div>
                        <span class="text-sm-medium neutral-1000">Clear</span>
                    </a>
                    <a href="#" class="btn btn-primary px-3 py-2">
                        <img src="https://carento-demo.vercel.app/assets/imgs/template/icons/user.svg" alt="Carento"/>Apply
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar-left border-1 background-body">
        <div class="box-filters-sidebar">
            <div class="block-filter border-1">
                <h6 class="text-lg-bold item-collapse neutral-1000">Categories</h6>
                <div class="box-collapse scrollFilter">
                    <ul class="list-filter-checkbox">
                        <li>
                            <label class="cb-container">
                                <input type="checkbox"/>
                                <span class="text-sm-medium">Accessories</span>
                                <span class="checkmark"></span>
                            </label>
                            <span class="number-item">198</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>