<div class="col-xl-3 col-lg-4">
    <div class="card user-sidebar mb-4">
        <div class="card-header user-sidebar-header">
            <div class="profile-content rounded-pill">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center justify-content-center py-2">
                        <img src="https://static.vecteezy.com/system/resources/thumbnails/005/129/844/small_2x/profile-user-icon-isolated-on-white-background-eps10-free-vector.jpg" 
                            alt="image" class="img-fluid avatar avatar-lg rounded-circle me-3">
                        <div>
                            <p class="fw-bold fs-5">{{ request.user.name }} ({{ request.user.role }})</p>
                            <span class="fs-14 text-gray-6">
                                {% if request.session.lang == 'en' %}
                                    Since {{ request.user.created_at|date }}
                                {% else %}
                                    Depuis {{ request.user.created_at|date }}
                                {% endif %}
                            </span>
                        </div>
                    </div>
                    <div>
                        <div class="d-flex align-items-center justify-content-center">
                            <a href="{% url 'auth:profile' %}" class="p-1 rounded-circle align-items-center justify-content-center btn-edit">
                                <i class="fi fi-rr-pencil fs-7"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body user-sidebar-body">
            <ul class="dashboard-sidebar-menu">
                {% if user.role == 'Client' %}
                    <li class="py-2">
                        <a href="{% url 'base:dashboard' %}">
                            <i class="fi fi-rr-dashboard"></i>
                            {% if request.session.lang == 'en' %}
                                Dashboard
                            {% else %}
                                Tableau de bord
                            {% endif %}
                        </a>
                    </li>
                    <li class="py-2">
                        <a href="{% url 'base:getJobListings' %}">
                            <i class="fi fi-rr-briefcase me-1"></i> 
                            {% if request.session.lang == 'en' %}
                                Job Listing
                            {% else %}
                                Offres d'emploi
                            {% endif %}
                        </a>
                    </li>
                    <li class="py-2">
                        <a href="{% url 'base:getJobApplicants' %}">
                            <i class="fi fi-rr-users-alt me-1"></i> 
                            {% if request.session.lang == 'en' %}
                                Applicants
                            {% else %}
                                Candidats
                            {% endif %}
                        </a>
                    </li>
                    <li class="py-2">
                        <a href="{% url 'base:getHireApplications' %}">
                            <i class="fi fi-rr-calendar me-1"></i> 
                            {% if request.session.lang == 'en' %}
                                Hire Applications
                            {% else %}
                                Demandes d'embauche
                            {% endif %}
                        </a>
                    </li>
                    <li class="py-2">
                        <a href="{% url 'auth:profile' %}">
                            <i class="fi fi-rr-user-md me-1"></i> 
                            {% if request.session.lang == 'en' %}
                                My Profile
                            {% else %}
                                Mon profil
                            {% endif %}
                        </a>
                    </li>
                {% elif user.role == 'Nanny' %}
                    <li class="py-2">
                        <a href="{% url 'base:dashboard' %}">
                            <i class="fi fi-rr-dashboard"></i>
                            {% if request.session.lang == 'en' %}
                                Dashboard
                            {% else %}
                                Tableau de bord
                            {% endif %}
                        </a>
                    </li>
                    <li class="py-2">
                        <a href="{% url 'base:getJobApplications' %}">
                            <i class="fi fi-rr-Booking me-1"></i> 
                            {% if request.session.lang == 'en' %}
                                My Applicants
                            {% else %}
                                Mes candidatures
                            {% endif %}
                        </a>
                    </li>
                    <li class="py-2">
                        <a href="{% url 'base:getNannyHireApplications' %}">
                            <i class="fi fi-rr-calendar me-1"></i> 
                            {% if request.session.lang == 'en' %}
                                Hire Applications
                            {% else %}
                                Demandes d'embauche
                            {% endif %}
                        </a>
                    </li>
                    <li class="py-2">
                        <a href="{% url 'auth:profile' %}">
                            <i class="fi fi-rr-user-md me-1"></i> 
                            {% if request.session.lang == 'en' %}
                                My Profile
                            {% else %}
                                Mon profil
                            {% endif %}
                        </a>
                    </li>
                {% else %}
                    <li class="py-2">
                        <p>
                            {% if request.session.lang == 'en' %}
                                You are not authorized to view navigation links.
                            {% else %}
                                Vous n'êtes pas autorisé à voir les liens de navigation.
                            {% endif %}
                        </p>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
