{% extends 'layouts/app.html' %}
{% load humanize %}
{% block content %}

    <section class="box-section background-body pt-80">
        <div class="container">
            <div class="text-center">
                <div class="background-body px-3 py-2 rounded-12 border d-flex gap-3 d-inline-flex">
                    <a href="{% url 'base:home' %}" class="neutral-700 text-md-medium">
                        {% if request.session.lang == 'en' %} Home {% else %} Accueil {% endif %}
                    </a>
                    <span>
                        <img src="https://carento-demo.vercel.app/assets/imgs/template/icons/arrow-right.svg" alt="Carento" />
                    </span>
                    <a href="{% url 'base:getJobApplicants' %}" class="neutral-1000 text-md-bold">
                        {% if request.session.lang == 'en' %} Applicants {% else %} Candidats {% endif %}
                    </a>
                    <span>
                        <img src="https://carento-demo.vercel.app/assets/imgs/template/icons/arrow-right.svg" alt="Carento" />
                    </span>
                    <a href="{% url 'base:getJobApplicants' %}" class="neutral-1000 text-md-bold">{{ application.job.title }}</a>
                </div>
                <h3 class="mt-3 neutral-1000">{{ application.job.title }}</h3>
            </div>
        </div>
    </section>

    <section class="box-section background-body pt-80 pb-110 dashboard">
        <div class="container">
            <div class="row">
                {% include 'inc/user-sidebar.html' %}

                <div class="col-xl-9 col-lg-8">
                    <div class="row mb-3">
                        <div class="col-lg-3 mb-3 mb-lg-0">
                            <div class="card shadow-none flex-fill bg-1">
                                <div class="box-earning px-3 py-4 text-center">
                                    <span class="avatar rounded-circle bg-primary me-3">
                                        <img src="https://static.vecteezy.com/system/resources/thumbnails/005/129/844/small_2x/profile-user-icon-isolated-on-white-background-eps10-free-vector.jpg" alt="image">
                                    </span>
                                    <p>{{ application.job.client.name }}</p>
                                    <p>{{ application.job.client.phone_number }}</p>
                                    <p>{{ application.job.client.email }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="card shadow-none flex-fill bg-3">
                                <div class="box-earning px-3 py-4">
                                    <span class="neutral-1000 text-md-bold fs-5">
                                        {% if request.session.lang == 'en' %} Job Info {% else %} Informations sur le poste {% endif %}
                                    </span>
                                    <div class="row">
                                        <div class="col-lg-4 mb-4">
                                            <p class="fs-8 neutral-500 text-md-bold">
                                                {% if request.session.lang == 'en' %} Nanny Name {% else %} Nom de la nounou {% endif %}
                                            </p>
                                            <p class="fs-6 text-truncate">{{ application.nanny.name }}</p>
                                        </div>
                                        <div class="col-lg-4 mb-4">
                                            <p class="fs-8 neutral-500 text-md-bold">
                                                {% if request.session.lang == 'en' %} Nanny Phone Number {% else %} Numéro de téléphone de la nounou {% endif %}
                                            </p>
                                            <p class="fs-6 text-truncate">{{ application.nanny.phone_number }}</p>
                                        </div>
                                        <div class="col-lg-4 mb-4">
                                            <p class="fs-8 neutral-500 text-md-bold">
                                                {% if request.session.lang == 'en' %} Job {% else %} Poste {% endif %}
                                            </p>
                                            <p class="fs-6 text-truncate">{{ application.job.title }}</p>
                                        </div>
                                        <div class="col-lg-4 mb-4">
                                            <p class="fs-8 neutral-500 text-md-bold">
                                                {% if request.session.lang == 'en' %} Job Salary {% else %} Salaire {% endif %}
                                            </p>
                                            <p class="fs-6 text-truncate">{{ application.job.salary|floatformat|intcomma }} RWF</p>
                                        </div>
                                        <div class="col-lg-4 mb-4">
                                            <p class="fs-8 neutral-500 text-md-bold">
                                                {% if request.session.lang == 'en' %} Location {% else %} Localisation {% endif %}
                                            </p>
                                            <p class="fs-6 text-truncate">{{ application.job.location }}</p>
                                        </div>
                                        <div class="col-lg-4 mb-4">
                                            <p class="fs-8 neutral-500 text-md-bold">
                                                {% if request.session.lang == 'en' %} Time {% else %} Temps {% endif %}
                                            </p>
                                            <p class="fs-6 text-truncate">{{ application.job.start_date|date }} - {{ application.job.end_date|date }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card shadow-none flex-fill bg-3">
                                <div class="box-earning px-3 py-4">
                                    <span class="neutral-1000 text-md-bold fs-5">
                                        {% if request.session.lang == 'en' %} Application Info {% else %} Informations sur la candidature {% endif %}
                                    </span>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <p class="fs-8 neutral-500 text-md-bold">
                                                {% if request.session.lang == 'en' %} Nanny Experience {% else %} Expérience de la nounou {% endif %}
                                            </p>
                                            <p class="fs-6 text-truncate">{{ application.experience }}</p>
                                        </div>
                                        <div class="col-lg-4">
                                            <p class="fs-8 neutral-500 text-md-bold">
                                                {% if request.session.lang == 'en' %} Nanny Availability {% else %} Disponibilité de la nounou {% endif %}
                                            </p>
                                            <p class="fs-6 text-truncate">{{ application.availability|date }}</p>
                                        </div>
                                        <div class="col-lg-4">
                                            <p class="fs-8 neutral-500 text-md-bold">
                                                {% if request.session.lang == 'en' %} Application Status {% else %} Statut de la candidature {% endif %}
                                            </p>
                                            <p class="fs-6 text-truncate">
                                                {% if application.status == 'accepted' %}
                                                    <span class="badge badge-success rounded-pill fs-10">
                                                        {% if request.session.lang == 'en' %} Accepted {% else %} Accepté {% endif %}
                                                    </span>
                                                {% elif application.status == 'rejected' %}
                                                    <span class="badge badge-danger rounded-pill fs-10">
                                                        {% if request.session.lang == 'en' %} Rejected {% else %} Rejeté {% endif %}
                                                    </span>
                                                {% elif application.status == 'pending' %}
                                                    <span class="badge badge-warning rounded-pill fs-10">
                                                        {% if request.session.lang == 'en' %} Pending {% else %} En attente {% endif %}
                                                    </span>
                                                {% endif %}
                                            </p>
                                        </div>
                                        <div class="col-lg-12">
                                            <p class="fs-8 neutral-500 text-md-bold">
                                                {% if request.session.lang == 'en' %} Nanny Cover Letter {% else %} Lettre de motivation de la nounou {% endif %}
                                            </p>
                                            <p class="fs-6 text-truncate">{{ application.cover_letter }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}
